<div ng-controller="chatCtl">
    <div class="alert alert-danger" ng-show="disconected">
        <strong> Mất kết nối internet ... Cố gắng thử lại sau 5s</strong>
    </div>
    <!-- Warning dialog -->
    <nav class="fixed-top well well-lg">Xin chào
        <strong>{{user}}</strong>
        <span class="chat-img pull-left">
            <img src="https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg" alt="User Avatar"
                class="img-circle">
        </span>
        <button type="button" class="badge pull-right">Logout</button>
    </nav>
    <div class="chat_container">
        <!--chat_sidebar-->
        <div class="col-sm-2 chat_sidebar" ng-init="loadConversation()">
            <div class="row">
                <div id="custom-search-input">
                    <div class="input-group col-md-12">
                        <input type="text" class="  search-query form-control" placeholder="Conversation" />
                        <button class="btn btn-danger" type="button" ng-click="search()">
                            <span class=" glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                </div>
                <div class="dropdown all_conversation">
                    <button class="dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-weixin" aria-hidden="true"></i>
                        {{select}}
                        <span class="caret pull-right"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <li>
                            <a href="" ng-click="loadConversation()"> Tất cả cuộc hội thoại </a>
                            <!-- <ul class="sub_menu_ list-unstyled">
                                <li>
                                    <a href="#"> All Conversation </a>
                                </li>
                            </ul> -->
                        </li>
                        <li>
                            <a href="" ng-click="loadAllContact()">Tất cả người dùng </a>
                        </li>
                    </ul>
                </div>
                <div class="member_list" ng-show="contactTab">
                    <ul class="list-unstyled">
                        <li class="left clearfix" ng-repeat="x in contact">
                            <span class="chat-img pull-left">
                                <img src="https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg" alt="User Avatar"
                                    class="img-circle">
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header_sec">
                                    <strong class="primary-font">{{x.name}}</strong>
                                    <strong class="pull-right">
                                        {{x.time}}</strong>
                                </div>
                                <div class="contact_sec">
                                    <strong class="primary-font"></strong>
                                    <h3>
                                        <span class="badge pull-right" ng-click="connect(x.id)">+</span>
                                    </h3>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="member_list" ng-show="conversationTab">
                    <ul class="list-unstyled">
                        <li class="left clearfix" ng-repeat="y in conversations">
                            <span class="chat-img pull-left">
                                <img src="https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg" alt="User Avatar"
                                    class="img-circle">
                            </span>
                            <div class="chat-body clearfix" ng-click="loadChatHistory(y.id,y.name)">
                                <div class="header_sec">
                                    <strong class="primary-font">{{y.name}}</strong>
                                    <strong class="pull-right">
                                        {{y.lastTimeAction}}</strong>
                                </div>
                                <div class="contact_sec">
                                    <strong class="primary-font" style="font-weight: 300">{{y.lastChat}}</strong>
                                    <h2>
                                        <span class="badge pull-right">{{y.numUnread}}</span>
                                        </h3>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--end chat_sidebar-->

        <!--message_section-->
        <div class="col-sm-9 message_section">
            <div class="row" ng-show="isChatting">
                <div class="new_message_head">
                    <div class="pull-left">
                        <div class="input-group col-xs-5">
                            <input type="text" class="form-control" ng-model="conversationName" ng-disabled="cvs_name_disable">
                            <span class="glyphicon glyphicon-pencil input-group-addon" ng-show="edit_cvs_name" ng-click="edit_cvs_name = false;cvs_name_disable = false"></span>
                            <span class="glyphicon glyphicon-ok input-group-addon" ng-hide="edit_cvs_name" ng-click="save_name()"></span>
                            <span class="glyphicon glyphicon-remove input-group-addon" ng-hide="edit_cvs_name" ng-click="edit_cvs_name = true;cvs_name_disable = true"></span>
                        </div>
                        <!--  -->
                        <button ng-click="loadMember()">
                            <i class="fa fa-plus-square-o" aria-hidden="true"></i> Các thành viên </button>
                        <div class="animate-div member_area" ng-show="showMember">
                            <span class="badge pull-left" style="margin: 10px" ng-repeat="x in lstMembers">{{x.userName}}</span>
                        </div>
                        <br>
                        <!--  -->
                        <button ng-click="addMember()">
                            <i class="fa fa-plus-square-o" aria-hidden="true"></i> Thêm thành viên </button>
                        <div class="animate-div member_area" ng-show="showContact">
                            <span class="badge pull-left" style="margin: 10px" ng-repeat="x in lstContact" ng-click="add($index)">{{x.userName}}</span>
                        </div>
                        <!--  -->
                    </div>
                    <div class="pull-right">
                        <div class="dropdown">
                            <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-cogs" aria-hidden="true"></i> Setting
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                                <li>
                                    <a>Action</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--new_message_head-->

                <div id="chat_area" class="chat_area">
                    <button type="button" class="label label-warning" ng-click="loadMore()" ng-hide="isEnd"> thêm </button>
                    <ul class="list-unstyled">
                        <li class="left clearfix {{x.isMe ? 'admin_chat' :'' }} " ng-repeat="x in messages">
                            <strong class="chat_time {{x.isMe ? 'pull-right' :'pull-left' }}"> {{x.name}}</strong>
                            <br>
                            <span class="chat-img1 {{x.isMe ? 'pull-right' :'pull-left' }}">
                                <img src="https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg" alt="User Avatar"
                                    class="img-circle">
                            </span>
                            <div class="chat-body1 clearfix">
                                <p class="img-rounded">{{x.value}}</p>
                                <div class="badge chat_time {{!x.isMe ? 'pull-right' :'pull-left' }}">
                                    <strong>{{x.time}}</strong>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="spinner" ng-show="type">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                    <strong> đang gõ </strong>
                </div>
                <!--chat_area-->
                <div class="message_write">
                    <textarea class="form-control" ng-model="message" ng-focus="typing()" placeholder="Viết tin nhắn vào đây"></textarea>
                    <div class="clearfix"></div>
                    <div class="chat_bottom">
                        <!-- <a href="#" class="pull-left upload_btn">
                            <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                            Add Files</a> -->
                        <button ng-click="send()" class="pull-right btn btn-success">
                            Gửi</button>
                    </div>
                </div>
            </div>
        </div>
        <!--end message_section-->
    </div>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <strong>Disconected ...... </strong>
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->

</div>
<br>
<div class="alert ">
    <strong> Một sản phẩm của Phạm Hữu Mai - CNTT 13C - MTA ~ "Cấm sao chép dưới mọi hình thức"</strong>
</div>