<div ng-controller="chatCtl">
    <div class="alert alert-danger" ng-show="disconected">
        <strong> Mất kết nối internet ... Cố gắng thử lại sau 5s</strong>
    </div>
    <!-- Warning dialog -->
    <nav class="fixed-top navbar navbar-fixed-top" style="background-color:white; margin-bottom: 0px;padding:15px;">Xin chào
        <strong>
            <input type="text" ng-model="name" ng-mouseleave="save()" ng-disabled="editName">
            <span style="margin-left: 5px;" class="glyphicon glyphicon-pencil" ng-click="editNameClk()"></span>({{user}})</strong>
        <span class="chat-img pull-left">
            <!-- <img src="http://103.81.85.169/file/2.png" id="avatar" style="margin-left: 30px" class="img-circle"><br>
            <input type="file" class="btn-info" base64="avatar" ng-mouseleave="upload()"  style=" display: none; width: 90px;"> -->
            <div class="picture-container">
                <div class="picture">
                    <img src="{{curAvatar}}" id="avatar" class="picture-src img-circle" id="wizardPicturePreview" title="">
                    <input type="file" accept="image/*" data-type='image' id="wizard-picture" type="type" fileName="fileName" base64="avatar"
                        ng-mouseleave="upload()">
                </div>
            </div>
        </span>
        <span>
            <button type="button" class="badge pull-right" ng-click="logout()">Logout</button>
        </span>
    </nav>
    <div class="chat_container">
        <!--chat_sidebar-->
        <div class="col-md-2 chat_sidebar" ng-init="loadConversation()">
            <div class="row">
                <div id="custom-search-input">
                    <div class="input-group col-md-12">
                        <input type="text" class="search-query form-control" ng-model="text" placeholder="Tìm kiếm" ng-change="search()"/>
                        <button class="btn btn-danger" type="button" ng-click="cancel()" >
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                </div>
                <div class="member_list" ng-show="search1">
                    {{statusSearch}}
                    <ul class="list-unstyled">
                        <li class="left clearfix" ng-repeat="x in searchResult">
                            <span class="chat-img pull-left">
                                <img src="{{x.avatar}}" alt="User Avatar" class="img-circle">
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header_sec">
                                    <strong class="primary-font">{{x.name}}</strong>
                                    <strong class="pull-right">
                                        {{x.time}}</strong>
                                </div>
                                <div class="contact_sec">
                                    <strong class="primary-font"></strong>
                                    <h3>
                                        <span class="badge pull-right" ng-click="addFriend(x.id)">+</span>
                                    </h3>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div ng-hide="search1">
                    <div class="dropdown all_conversation">
                        <button class="dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-weixin" aria-hidden="true"></i>
                            {{select}}
                            <span class="caret pull-right"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <li>
                                <a href="" ng-click="loadConversation()"> Tất cả cuộc hội thoại </a>
                                <!-- <ul class="sub_menu_ list-unstyled">
                                <li>
                                    <a href="#"> All Conversation </a>
                                </li>
                            </ul> -->
                            </li>
                            <li>
                                <a href="" ng-click="loadAllContact()">Tất cả bạn bè </a>
                            </li>
                            <li>
                                <a href="" ng-click="loadAllRequest()">Yêu cầu kết bạn </a>
                            </li>
                            <li>
                                <a href="" ng-click="loadAllUser()">Tất cả người dùng </a>
                            </li>
                        </ul>
                    </div>
                    <div class="member_list" ng-show="contactTab">
                        <ul class="list-unstyled">
                            <li class="left clearfix" ng-repeat="x in contact">
                                <span class="chat-img pull-left">
                                    <img src="{{x.avatar}}" alt="User Avatar" class="img-circle">
                                </span>
                                <div class="chat-body clearfix">
                                    <div class="header_sec">
                                        <strong class="primary-font">{{x.name}}</strong>
                                        <strong class="pull-right">
                                            {{x.time}}</strong>
                                    </div>
                                    <div class="contact_sec">
                                        <strong class="primary-font"></strong>
                                        <h3>
                                            <span class="badge pull-right" ng-click="connect(x.id)">+</span>
                                            <span class="badge pull-right" ng-click="reject(x.id)">-</span>
                                        </h3>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="member_list" ng-show="userTab">
                        <ul class="list-unstyled">
                            <li class="left clearfix" ng-repeat="x in users">
                                <span class="chat-img pull-left">
                                    <img src="{{x.avatar}}" alt="User Avatar" class="img-circle">
                                </span>
                                <div class="chat-body clearfix">
                                    <div class="header_sec">
                                        <strong class="primary-font">{{x.name}}</strong>
                                        <strong class="pull-right">
                                            {{x.time}}</strong>
                                    </div>
                                    <div class="contact_sec">
                                        <strong class="primary-font"></strong>
                                        <h3>
                                            <span class="badge pull-right" ng-click="addFriend(x.id)">+</span>
                                        </h3>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="member_list" ng-show="requestTab">
                        <ul class="list-unstyled">
                            <li class="left clearfix" ng-repeat="x in requests">
                                <span class="chat-img pull-left">
                                    <img src="{{x.avatar}}" alt="User Avatar" class="img-circle">
                                </span>
                                <div class="chat-body clearfix">
                                    <div class="header_sec">
                                        <strong class="primary-font">{{x.name}}</strong>
                                        <strong class="pull-right">
                                            {{x.time}}</strong>
                                    </div>
                                    <div class="contact_sec">
                                        <strong class="primary-font"></strong>
                                        <h3>
                                            <span class="badge pull-right" ng-click="deny(x.id)">-</span>
                                            <span class="badge pull-right" ng-click="accept(x.id)">+</span>
                                        </h3>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="member_list" ng-show="conversationTab">
                        <ul class="list-unstyled">
                            <li class="left clearfix" ng-repeat="y in conversations">
                                <span class="chat-img pull-left">
                                    <img src="{{y.avatar}}" alt="User Avatar" class="img-circle">
                                </span>
                                <div class="chat-body clearfix" ng-click="loadChatHistory(y.id,y.name)">
                                    <div class="header_sec">
                                        <strong class="primary-font">{{y.name}}</strong>
                                        <strong class="pull-right">
                                            {{y.lastTimeAction}}</strong>
                                    </div>
                                    <div class="contact_sec">
                                        <strong class="primary-font" style="font-weight: 300">{{y.lastChat}}</strong>
                                        <h2>
                                            <span class="badge pull-right">{{y.numUnread}}</span>
                                            </h3>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--end chat_sidebar-->

        <!--message_section-->
        <div class="col-md-7 message_section">
            <div class="row" ng-show="isChatting">
                <div class="new_message_head">
                    <div class="pull-left">
                        <div class="input-group col-xs-5">
                            <input type="text" class="form-control" ng-model="conversationName" ng-disabled="cvs_name_disable">
                            <span class="glyphicon glyphicon-pencil input-group-addon" ng-show="edit_cvs_name" ng-click="edit(false)"></span>
                            <span class="glyphicon glyphicon-ok input-group-addon" ng-hide="edit_cvs_name" ng-click="saveNameCvs()"></span>
                            <span class="glyphicon glyphicon-remove input-group-addon" ng-hide="edit_cvs_name" ng-click="edit(true)"></span>
                        </div>
                        <span class="pull-right">
                            <div class="dropdown">
                                <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-cogs" aria-hidden="true"></i> Setting
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                                    <li>
                                        <a>Action</a>
                                    </li>
                                </ul>
                            </div>
                        </span>
                        <!--  -->
                        <button ng-click="loadMember()">
                            <i class="fa fa-plus-square-o" aria-hidden="true"></i> Các thành viên </button>
                        <div class="animate-div member_area" ng-show="showMember">
                            <span class="badge pull-left" style="margin: 10px" ng-repeat="x in lstMembers">{{x.userName}}</span>
                        </div>
                        <br>
                        <!--  -->
                        <button ng-click="addMember()">
                            <i class="fa fa-plus-square-o" aria-hidden="true"></i> Thêm thành viên </button>
                        <div class="animate-div member_area" ng-show="showContact">
                            <span class="badge pull-left" style="margin: 10px" ng-show="lstContact.length == 0" >Không có ai cả</span>
                            <span class="badge pull-left" style="margin: 10px" ng-repeat="x in lstContact" ng-click="add($index)">{{x.userName}}</span>
                        </div>
                        <!--  -->
                    </div>

                </div>
                <!--new_message_head-->

                <div id="chat_area" class="chat_area">
                    <button type="button" class="label label-warning" ng-click="loadMore()" ng-hide="isEnd"> thêm </button>
                    <ul class="list-unstyled">
                        <li class="left clearfix {{x.isMe ? 'admin_chat' :'' }} " ng-repeat="x in messages">
                            <strong class="chat_time {{x.isMe ? 'pull-right' :'pull-left' }}"> {{x.name}}</strong>
                            <br>
                            <span class="chat-img1 {{x.isMe ? 'pull-right' :'pull-left' }}">
                                <img src="{{x.avatar}}" alt="User Avatar" class="img-circle">
                            </span>
                            <div class="chat-body1 clearfix">
                                <p class="img-rounded" ng-show="x.msgType == 1">{{x.value}}</p>
                                <p class="img-rounded" ng-show="x.msgType == 3">
                                    <a href="{{x.value}}">{{x.name}} đã gửi một file </a>
                                </p>
                                <div class="badge chat_time {{!x.isMe ? 'pull-right' :'pull-left' }}">
                                    <strong>{{x.time}}</strong>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="spinner" ng-show="type">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                    <strong> đang gõ </strong>
                </div>
                <!--chat_area-->
                <div class="message_write">
                    <textarea class="form-control" ng-model="message" ng-focus="typing()" placeholder="Viết tin nhắn vào đây"></textarea>
                    <div class="clearfix"></div>
                    <div class="chat_bottom">
                        <input type="file" base64="fileBase64" class="pull-left upload_btn">
                        <i class="fa fa-cloud-upload" aria-hidden="true" ng-click="sendFile()">Gửi file</i>
                        <button ng-click="send()" class="pull-right btn btn-success">
                            Gửi</button>
                    </div>
                </div>
            </div>
        </div>
        <!--end message_section-->
        <div class="col-md-3 ">
            <button class="accordion11">Tệp đính kèm</button>
            <div class="panel">
                1
            </div>
            <button class="accordion11">Sự kiện</button>
            <div class="panel">
                2
            </div>
            <button class="accordion11">Voting</button>
            <div class="panel">
                3
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <strong>Disconected ...... </strong>
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->

</div>
<br>
<div class="alert ">
    <strong> Một sản phẩm của Phạm Hữu Mai - CNTT 13C - MTA ~ "Cấm sao chép dưới mọi hình thức"</strong>
</div>
<script>
    var accordionblabla = document.getElementsByClassName("accordion11");
    var dd = function () {
        var i;
        for (i = 0; i < accordionblabla.length; i++) {
            accordionblabla[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight) {
                    panel.style.maxHeight = null;
                } else {
                    panel.style.maxHeight = panel.scrollHeight + "px";
                }
            });
        }
    }
    dd();
</script>